<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 5.2.4//EN" "http://www.springframework.org/dtd/spring-beans-5.2.4.dtd">

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	
	<bean id = "pointA" class = "com.pivanchev.Point">
		<qualifier value = "circleCreated" />
		<property name = "x" value = "0" />
		<property name = "y" value = "0" />
	</bean>
	
	  
	<bean id = "pointB" class = "com.pivanchev.Point">
			<property name = "x" value = "-20" />
			<property name = "y" value = "0" />
	</bean>
	
	<bean id = "pointC" class = "com.pivanchev.Point">				
			<property name = "x" value = "10" />
			<property name = "y" value = "20" />
	</bean>
	
	
	<bean id = "circle" class = "com.pivanchev.Circle" > 
	<property name = "center" ref = "pointC" />
	</bean>	
	
	<context:annotation-config/>
	
	
</beans>